@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";

}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale-1">
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="~/js/site.js"></script>
    <link rel="stylesheet/scss" href="~/css/StyleSheet1.scss" type="text/css" />
</head>
<body>

    <div class="center text-w text-uppercase">
        <img src="~/Images/cowlogo.png" alt="..." class="logo">
        <h1>B r i s k e t</h1>
        <p class="midtext">18 YEARS TO MASTER, YOURS TO SAVOR..</p>


        <br />
        <a class="btn-6" href="#">SEE THE MENU<span></span></a>

    </div>
    <footer>
    <div class="footer text-w font-italic font-weight-bold" >
        <div class="container">
            <p>
                Redefining the art of smoking, <br />
                one brisket at a time.
            </p>
        </div>
    </div>
    </footer>

</body>


</html>
